<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "sample_app",'#', id: "logo" %>
				<nav><!-- na => navigation items divider tag -->
					<ul class="nav pull-right"><!-- ul => unordered list tag -->
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "About", about_path %></li>
						<li><%= link_to "Sign in", '#' %></li><!-- li => list item tag -->
					</ul>
				</nav>
			</div>
		</div>
</header>